/* CSS BY TALA ALYOUSEF */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: 'Playfair Display';
    background-color: var(--soft-white);
}

header {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

header img {
    display: block;
    margin: auto;
    padding-top: 5px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 15px 0;
}

header p {
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 20px;
}

nav {
    background-color: var(--champagne-gold);
    color: var(--midnight-blue);
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav a {
    color: var(--midnight-blue);
    font-weight: bold;
    text-decoration: none;
}

main {
    margin: 0 20px;
}

main h2 {
    padding: 20px 0 10px 0;
    font-size: 1.4rem;
    color: var(--midnight-blue);
    font-weight: 500;
}

main p {
    line-height: 25px;
    color: var(--dark-charcoal);
    font-size: .9rem;
    padding-bottom: 10px;
}

footer {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
}

.offering {
    background-color: var(--olive-green);
    color: var(--soft-white);
    border-radius: 10px;
    margin: 10px 0 20px 0;
    padding: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.offering p {
    color: var(--soft-white);
    padding-bottom: 0;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

hr {
    border: 1px solid var(--champagne-gold);
    margin-bottom: 20px;
}

ul {
    line-height: 25px;
    font-size: .9rem;
    list-style-type: disc;
    list-style-position: inside;
}

.gallery {
    margin: 10px 0 15px 0;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.gallery img {
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}

.gallery p {
    text-align: center;
    font-style: italic;
    padding: 10px 0;
}

main a {
    display: block;
    text-align: center;
    color: var(--soft-white);
    background-color: var(--olive-green);
    text-decoration: none;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    line-height: 25px;
    padding: 80px 0 25px 0;
}

footer a {
    color: var(--soft-white);
    text-decoration: none;
}

#link {
    color: var(--champagne-gold);
    font-weight: bold;
}
/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
    main {
        margin: 0 25px;
    }
    
    h1 {
        font-size: 4rem;
    }
    
    header p {
        font-size: 1.2rem;
        padding-bottom: 30px;
    }

    nav {
        font-size: 1.5rem;
    }

    main h2 {
        font-size: 1.7rem;
    }

    .offering {
        margin: 0;
    }

    #offerings {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #offerings div:nth-child(3) {
        grid-column: span 2;
    }

    h3 {
        font-size: 1.8rem;
        line-height: 40px;
    }

}
/* MEDIA QUERY (large) */
/* MEDIA QUERY (xl) */